@font-face {
    font-family: 'gotham_roundedmedium';
    src: url('gothamroundedmedium_21022-webfont.woff2') format('woff2'),
         url('gothamroundedmedium_21022-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: arial;
    
}

body{
    background-color: #F5F7FA!important;
    font-family: 'gotham_roundedmedium';
    position: relative;
}
/* p{
    color: #474545;
} */
nav{
    background-color: white;
    border: 1px solid #707070;
}
h1,h2,h3,h4,h6{
    color: #002171!important;
    font-weight: 700!important;
    font-family: 'gotham_roundedmedium';
}
button,.try-your-luck{
    background-color: #ED193F;
    border: none;
    color: white;
    font-family: 'gotham_roundedmedium';
}


.congrats-banner{
    /* background-image: url(images/signal/congrats-banner.PNG); */
    /* background-size: cover; */
    /* position: absolute; */
    width: 100%;
    /* height: 550px; */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* : 3rem; */
    background-color: rgba(255, 255, 255);
    z-index: 1;
    margin-top: -100px!important;
}

.congrats-banner h1{
    color: #ED193F;
}
.congrats-banner p{
    color: #2A316B;
}
.dropdown a{
    color: #2A316B;
    font-weight: 700;
}
.main-content1 .container, .form-sec .container{
    background-color: #fff!important;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;

}
.main-content2{
    padding-top: 3%;
    padding-bottom: 3%;
}

.main-content2-img{
    background-color: #fff;
}
.main-content2-img img{
    width: 55%;
}
h2 {
    
    border-bottom:5px solid #ED193F;
    width: 65%;
    padding-bottom: .7rem;
    border-radius: 4px;
}

.footer1{
    background-color: #002171;
    color: white!important;
    border-bottom: 5px solid #ED193F;
}
.footer1 div a{
    color: white !important;
}
.footer2{
    background-color: #fff;
}
.footer2 p{
    font-size: .7rem;
}

.form-success{
    display: none!important;
}
.wheelColor{
    background-color: #575757!important;
}
@media only screen and (max-width:1400px){
    /* .congrats-banner{
        height: 500px;
    } */
}
@media only screen and (max-width:1200px){
    /* .congrats-banner{
        height: 450px;
    } */
}
@media only screen and (max-width:991px){
    /* .congrats-banner{
        height: 500px;
    } */
    .unilever-logo{
        display: flex;
       justify-content: flex-end;
       float: right;
       /* padding: 1.5rem; */
    }
}
@media only screen and (max-width:894px){
    /* .congrats-banner{
        height: 450px;
    } */
}
@media only screen and (max-width:768px){
    .main-content1 button{
        width: 90%!important;
        display: flex!important;
        justify-content: center!important;
        margin: auto;
    }
    .main-content1 img{
        width: 100%!important;
    }
    .main-content2 h2{
        padding-top:1rem;
    }
    .footer1 a{
        text-decoration: none;
    }
    .legal,.consumer-services,.follow-and-subscribe,.site{
        padding-left: 1.7rem;
        margin: .7rem;
    }
    .legal h5,.consumer-services h5,.follow-and-subscribe h5,.site h5{
        padding-top: 1.3rem;
        font-family: 'gotham_roundedmedium';
        /* padding-bottom: .5rem; */

    }
    .unilever-logo{
        padding: 1.5rem;

    }
    /* .congrats-banner{
        height: 400px;
} */
}
/* @media only screen and (max-width:767px){

.congrats-banner{
    height: 650px;
}
}
@media only screen and (max-width:377px){

    .congrats-banner{
        height: 685px;
    }
} */